doctype html
include includes/axios.pug
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  nav.navbar.navbar-expand-lg
  title Owners
  .container-fluid
    a.navbar-brand(href='/') Owners
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
form(method="POST")
  .container.mt-5.top-ass
    .row.cont
      .col
        p.par1 Owners Page ✨.
        p.col-cus
          | your secret area to blacklist users :)
          br
          | What you can do now?!
        a(href='/brgrzrfr3rmrsrnrwrfrfrfrfrfrfrfr309' target='_blank')
          button.btn.btn-invite(type='button') ShutDownTheBot
        button.btn.btn-outline-prem(type="submit" onclick="alert('Your data has been saved please click ok to continue')") Save
      .col
        <input style="background-color: #242438; color: #fff; border: 2px solid #5e5ac9; margin-left: 30vh; margin-top: 7vh; width: 30%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" type="text" class="form-control" name="blacklist_user_id" placeholder="🔴 user id here!!!">

  
div(align="center" )
  h6.text-center(style="color: #5e5ac9; width: 30%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;") all copy right goes to NIR0