doctype html
include includes/axios.pug
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title all copyright goes to def & niro
bady.text-center
  br
  br
  br
  br
  br
  br
  br
  br
  br
  h1 🔧 The bot is under development 🔧
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  
div(align="center" )
  h6.text-center(style="color: #5e5ac9; width: 30%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;") all copy right goes to NIR0